
body{
    height: 100vh;
    background-image: url('./register.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: azure;
}
a{
    text-decoration: none;
}
.register-wrap{
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:80vh; 
}
.register-cust{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: larger;
    font-weight: bolder;
    text-align: justify;
    text-shadow: 1px 1px 10px rgb(23, 22, 22);
    font-size: 1rem;
 
}
.register-agent{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: larger;
    font-weight: bolder;
    text-align: justify;
    text-shadow: 1px 1px 10px rgb(23, 22, 22);
    font-size: 1rem;
}
h1{
    color: yellow;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.8rem;
  
}



.login-btn-wrap{
    display: flex;
    justify-content: center;
}
.login-btn{
    width: 30vw;
    background:linear-gradient(rgba(255, 255, 255, 0.54),rgba(131, 130, 130, 0.419));
}